<h1 class="title is-1"><%=@artist.name%></h1>
<h4 class="title is-2">About</h4>
<p class="subtitle is-3"><%=@artist.name%> is an artist born in <%=@artist.birth.strftime("%B %d, %Y") if !@artist.birth.nil?%> (<%=@artist.area%>)</p>
<p class="subtitle is-4">Some of his/her albums is/are:</p>

<div class="box">
  <ul class="columns is-multiline">
  <% @artist.albums.each do |album| %>
    <li class="column is-full">
      <li >
          <p>
            <%= link_to album.name, album %>
          </p>
          <img src=<%= album.image%> />
      </li>

      <li class="column is-half">
        <ul>
          <% album.songs.each do |song|%>
            <li><%=link_to song.title, song %></li>
          <% end%>
        </ul>
    </li>
  <% end %>
  </ul>
  </div>





