<p class="title">
  Found with "<%= params[:search_term]%>":
</p>

<% if @songs.empty?%>
  <p class="subtitle">Didn't find anything with.</p>
<% else%>
  <% @songs.each do |song|%>
  <div class="columns">
    <div class="column is-one-quarter">
      <%= link_to image_tag(song.album.image, :alt => song.album.name), song.album %>
    </div>
    <div class="column">
      <h1 class="title is-1"><%= link_to song.title, song %></h1>
      <p class="subtitle is-3"><%= song.title %> is a song by <%= !song.album.artist.nil? ? (link_to song.album.artist.name, song.album.artist) : (link_to song.album.band.name, song.album.band)%> from the album <%= link_to song.album.name, song.album %></p>
      <p class="subtitle is-4"><%=song.info%></p>
    </div>
  </div>
<%end %>
    <%= paginate @songs%>
<%end%>



