<img src=<%= @song.album.image %>>
<h1><%= @song.title %></h1>
<p><%= @song.title %> is a song by <%= !@song.album.artist.nil? ? @song.album.artist.name : @song.album.band.name%> from the album <%= @song.album.name %></p>
<p><%=@song.info%></p>
