
<h1><%= @album.name %></h1>
<p>Album by <%= @album.artist.name %> released in <%= @album.release_date %> through <%= @album.label %> </p>
<ul>
  <% @album.songs.each do |song|%>
    <li><%= song.title %></li>
  <% end%>
</ul>
